
 /* media query for small devices  */

 @media screen and (min-width:400px) and (max-width: 576px) {


    nav,
    .menu-container ul,
    .banner-container,
    .unleash,
    .og-container,
    .instantly  {
      flex-direction: column;
    }
    
    .games-catagory{
      display: grid;
      row-gap: 15px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-bottom: 50px;
    }
  
    .footer-list{ 
      display: grid;
      row-gap: 5px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    
    .footer-info{
      display: grid;
      row-gap: 5px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
    }
    

    .banner-container{
      background: none;
      margin-bottom: 20px;
    }

    .banner-photo img{
      height: 70vh;
    }

    .og-container{
      width: 50vw;
      margin: auto;
    }

     .og-box{
      margin-bottom: 15px;
     }
  
     .og-img{
      height: 70vh;
     }

    .instantly{
      margin-bottom: 30px;
    }

    .instantly-text{
      margin-bottom: 20px;
    }
  
   .ins-pic1{
    height: 70vh;
   }

   .ins-pic2{
    height: 25vh;
    position: relative;
    left:-270px;
    bottom: -20px;
  }


   }
  


  
   /* media query for medium devices */
  
   @media screen and (min-width: 577px) and (max-width: 992px) {


    .banner-container,
    .unleash,
    .og-container,
    .instantly {
      flex-direction: column;
    }

  .og-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .banner-photo img{
    width: 70vw;
    height: 90vh;
  }

  .unleash-photo img{  
    height: 90vh;
  }  

  
    .instantly-text{
      margin-bottom: 20px;
    }
  
    .og-container{
      margin-left: 200px;
    }
  
    .instantly-photos{
      margin-left: 50px;
    }
  
    .og-img{
      width: 50vh;
    }
  
    .og-box{
      margin-bottom: 25px;
     }

     .ins-pic1{
      height: 90vh;
     }

     .ins-pic2{
      height: 35vh;
      position: relative;
      left:-380px;
      bottom: -30px;
    }


   }
  