/* work sans font link to this project */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* shared css styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.pink-letter {
  color: #f948b2;
}

.black-letters {
  color: #0b0223;
}

.white-letters {
  color: #fff;
}

.navyblue-words {
  color: #0b0223;
}

.pink-words {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grayish-para {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
}

/* nav related styles */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.frame-logo {
  display: flex;
  justify-content: start;
}
.frame-img {
  width: 86px;
  height: 40px;
  margin-top: 10px;
}

.frame-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.menu-container ul li {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 1rem;
  font-weight: 500;
}

header {
  margin-bottom: 120px;
}

/* banner related styles */

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-pic {
  width: 400px;
}

.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-motto {
  text-align: center;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: lowercase;
}

.btn-pink {
  padding: 21px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
}
.btn-bluelite {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
}

.last-banner-description {
  margin-bottom: 41px;
}

/* online games related styles */

.online-games {
  margin-bottom: 120px;
}

.og-introduction {
  margin: 0 auto;
  text-align: center;
}

.og-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.og-description {
  margin-bottom: 48px;
}
.og-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.og-img {
  width: 250px;
}

.og-info {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}

.og-conclusion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* instantly section styles */
.instantly {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
}

.instantly-text {
  text-align: center;
}

.instantly-photos {
  margin-right: -50px;
}

.instant-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.ins-pic1 {
  width: 400px;
}
.ins-pic2 {
  width: 200px;
  position: relative;
  bottom: -50px;
  left: -500px;
}

/* games catagory section styles */

.games-catagory {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.games-cat1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.games-cat2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.game-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-type:hover {
  border-radius: 50px;
  background: lightgray 50% / cover no-repeat;
}

/* footer related styles */

footer {
  background: #0b0223;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-logo {
  margin: 30px auto;
  width: fit-content;
  text-align: center;
}
.footer-zone {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.footer-logo {
  display: flex;
}

.footer-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.footer-list {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-icons{
  margin-bottom: 15px;
}

.footer-icons ul li{
  display: inline-block;
  margin: 0 10px;
}

.footer-icons ul li a {
  width: 30px;
  height: 30px;
  display: block;
  background: #0b0223;
  color: #FFF;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
}
