/* Work Sans - google font link  */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");


/* common & shared css styles */


* {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  cursor: cell;
}

.pink-letter {
  color: #f948b2;
}

.black-letters {
  color: #0b0223;
}

.white-letters {
  color: #fff;
}

.navyblue-words {
  color: #0b0223;
}

.pink-words {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grayish-para {
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 400;
}

.btn-pink {
  padding: 13px 26px;
  border-radius: 35px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
}

.btn-pink:hover {
  color:#021a0a;
}

.btn-bluelite {
  padding: 13px 26px;
  border-radius: 35px;
  background: #4ec5f7;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
}

.btn-bluelite:hover {
  color: #021a0a;
}


/* navbar related styles */


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo-container {
  display: flex;
  justify-content: start;
}
.frame-img {
  width: 60px;
  height: 30px;
  margin-top: 10px;
}

.frame-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.menu-container ul{
  display: flex;
}

.menu-container ul li {
  list-style: none;
  margin-right:20px ;
  font-size: 0.8rem;
  font-weight: 500;
}

.menu-container li a {
   text-decoration: none;
   color: #e30b0b;
}

.menu-container li a:hover {
  color:#086808;
}


/* banner related styles */


.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-photo img{
  height: 60vh;
}


.banner-title {
  color: #0b0223;
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-motto {
  text-align: center;
  font-size: 5.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-text p{
  margin-bottom: 10px;
}

.banner-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
}



.last-banner-description {
  margin-bottom: 30px;
}

.banner-photo img {
  height: 50vh;
}


/* unleash(1) section styles */


.unleash{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}

 

.unleash-photo img{  
  height: 60vh;
}  

.unleash-text{
  text-align: right;
} 

.unleash-text h2{ 
  margin-bottom: 5px;
}
.unleash-text p{
  margin-bottom: 10px;
}
.unleash-text button{
  margin-bottom: 10px;
}
.unleash-text h4{
  margin-bottom: 5px;
} 


/* online games(2) section styles */


.online-games{
  margin-bottom: 70px;
}

.og-text {
  margin: 0 auto;
  text-align: center;
}

.og-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.og-description {
  margin-bottom: 48px;
}
.og-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-left: 20px;
}

.og-img {
  width: 40vh;
}

.og-para {
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 500;
}


/* instantly(3) section styles */


.instantly {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}

.instantly-text {
  text-align: center;
}

.instantly-photos {
  margin-right: -70px;
}

.instant-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.ins-pic1 {
  height: 70vh;
}
.ins-pic2 {
  width: 15vw;
  position: relative;
  bottom: -50px;
  left: -500px;
}


/* games catagory(4) section styles */


.games-catagory {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding-top: 70px;
  margin-bottom: -140px;
  display: grid;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.game-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-type:hover {
  border-radius: 50px;
  background: #EA2027 50% / cover no-repeat;
} 


/* footer related styles */


footer {
  background: #0b0223;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-logo {
  margin: 30px auto;
  width: fit-content;
  text-align: center;
}

.footer-zone {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.footer-logo {
  display: flex;
}

.footer-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.footer-list {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-icons{
  margin-bottom: 15px;
}

.footer-icons ul li{
  display: inline-block;
  margin: 0 10px;
}

.footer-icons ul li a {
  width: 30px;
  height: 30px;
  display: block;
  background: #0b0223;
  color: #FFF;
}

.footer-icons ul li a:hover{
  color: #0e6b0e;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
}
